<a class="box is-flex is-flex-direction-column has-text-black" [routerLink]="key">
  <div class="is-fullheight is-justify-content-space-between">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src={{src}} alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6">{{title}}</p>
        </div>
      </div>
      <div class="content">
        {{description}}
      </div>
    </div>
  </div>
  <p class="subtitle is-6 has-background-primary px-1 py-1 mt-auto has-text-white has-text-centered">{{price}} $</p>
</a>
